@import 'tailwindcss';

/* Center container */
.container {
  @apply mx-auto px-4;
}

@theme {
  /* Primary Color Shades */
  --color-primary: var(--color-primary, #7f54b2);
  --color-primary-light: oklch(from var(--color-primary) calc(l + 0.15) c h);
  --color-primary-dark: oklch(from var(--color-primary) calc(l - 0.15) c h);

  /* Breakpoints */
  --breakpoint-2xl: 1400px;

  /* Spacing for Safe Areas */
  --spacing-safe: env(safe-area-inset-bottom);
}

@variant dark (&:where(.dark, .dark *));

/* Class for no slider */
.no-slider {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@layer components {
  .wn-form input[type='text'],
  .wn-form input[type='email'],
  .wn-form input[type='tel'],
  .wn-form input[type='password'],
  .wn-form textarea,
  .wn-form select {
    @apply bg-white border rounded-md outline-hidden border-gray-300 shadow-inner w-full py-2 px-4 text-base text-gray-900 leading-6 dark:bg-gray-700 dark:border-gray-600 dark:text-white;
  }

  /* .wn-form select {
    @apply font-normal;
  } */

  .wn-form label {
    @apply dark:text-gray-300;
  }

  .wn-form input.has-error,
  .wn-form textarea.has-error {
    @apply border-red-500;
  }
}
