# GraphQL endpoint
GQL_HOST="https://example.com/graphql"
# If you have the WooNuxt-Settings plugin installed this is all you need. Everything else is optional and can be configured in the WordPress admin under Settings > WooNuxt. 


# If you don't have the plugin installed, you can configure the rest of the settings here.

# number of products to be displayed per page
NUXT_PUBLIC_PRODUCTS_PER_PAGE="24"

# Stripe API key
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_abcdefghijklmnopqrstuvwxyz"

# Color of input and button elements
PRIMARY_COLOR="#ff0000"

# Needed for nuxt-image to work with external images
NUXT_IMAGE_DOMAINS="example.com, example.org"
